@media screen and (min-width:1024px) {
    .footer{
        background-color: #2A2A2A;
        width: 100%;
        padding: 25px 0px;
    }
    .row1-footer{
        display: flex;
        justify-content: center;
    }
    .foot-news{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .foot-news, .foot-logo, .foot-explore{
        width: 25%;
    }
    .news-title{
        color: white;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-weight:300;
        margin-bottom: 5px;
    }
    .submit-news{
        background-color: #00FEFE; /* Green */
        border: none;
        border-radius: 7px;
        color: black;
        width: 100%;
        padding: 15px 0px;
        text-align: center;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-weight:700;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
    }
    .news-input{
        border: none;
        border-radius: 7px;
        color: rgb(0, 0, 0);
        padding: 15px 0px;
        width: 100%;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 10px;
        text-align: center;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-weight:500;
    }
}