.servicesH1{
    color: #1e1e1e;
}
.servicesH2{
    color: #000;
}

.Icon{
    margin-top: 15px;
    width: 70px;
	height: 70px;
}
.ServiceItemTitle{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
		font-weight: bold;
		font-size: 21px;
		margin-bottom: 15px;
    	margin-top: 5px;
}

.ServiceItemDescription{
    text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: lighter;
	font-size: 13px;
}