@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    font-family: 'Sora', sans-serif;
}
#NavLogo{
    width:70px;
    height:auto;
}

.nav--fixed{
    position: fixed !important;
    width:100% !important;
    background: #1d1d1d !important;
    height: 80px !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 0.5rem calc((100vw - 1000px) / 2) ;
    z-index: 10 !important;
    animation: NavFadeIn 0.3s ease-in !important;
}

.nav--top{
    position: absolute;
    width:100%;
    background: none;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
    animation: NavFadeOut 0.3s ease-in !important;
}

@keyframes NavFadeIn{
    from {
      top: -80px;
      opacity: 0.2;
    }
    to {
      top: 0px;
      opacity: 1;
    }
}
@keyframes NavFadeOut{
    0% {
        background-color: rgb(29, 29, 29, 1);
    }
    100% {
        background-color: rgba(29, 29, 29, 0);
    }
}